##### GENERAL #####
SECRET_KEY=django-insecure-aqvhofkjy_j%tx!5%l0s!vwcf9(353m183pa7mm!$6&(e-#0mc
DEBUG=True

##### DATABASE #####
NAME=db_name
USER=postgres_user
PASSWORD=postgres_password
HOST=127.0.0.1
PORT=5432